<div class="alert alert-info text-center h-500" >
    <button type="button" class="btn btn-circle btn-xl text-black" (click)="buttonSelect(rndNum[0])">
    {{rndNum[0]}}
    </button>
    <button type="button" class="btn btn-circle btn-xl text-black" (click)="buttonSelect(rndNum[1])">
    {{rndNum[1]}}
    </button>
    <button type="button" class="btn btn-circle btn-xl text-black" (click)="buttonSelect(rndNum[2])">
    {{rndNum[2]}}
    </button>
    <button type="button" class="btn btn-circle btn-xl text-black" (click)="buttonSelect(rndNum[3])">
    {{rndNum[3]}}
    </button>
    <button type="button" class="btn btn-circle btn-xl text-black" (click)="buttonSelect(rndNum[4])">
    {{rndNum[4]}}
    </button>
    <button type="button" class="btn btn-circle btn-xl text-black" (click)="buttonSelect(rndNum[5])">
    {{rndNum[5]}}
    </button>
  </div>
  <hr>
  <h1 class="text-center">You have selected</h1>
  <div class="container col-md-4 offset-4">
      <div class="card card-block" style="height: 100px">
        <div class="card-body align-items-center d-flex justify-content-center">
            <h1 style="font-size: 50px;">{{selected}}</h1>
        </div>
      </div>
  </div>